
<% sleep 2 %>
<h1>About Us</h1>

<h2>Our History</h2>
<p>Owned and operated by brothers Charlie and Mark Fetzer, Lakeshore Bicycles has been serving Jacksonville since 1961. We are proud to be the oldest bike shop in Jacksonville and we don’t take this achievement lightly. While others have come and gone, Lakeshore has thrived because of our love for cycling and our belief in customer service, community outreach, and providing you the best products at the best prices. Whether it was a Western Flyer 50 years ago, a Schwinn 30 years ago, or a Trek bicycle today, we are constantly expanding our services to suit your needs. We stock a full compliment of accessories and bicycles and are the largest recumbent bicycle dealer in north Florida. Stop by today just to say hi or test ride your next bike.</p>  