
<h1>Our History</h1>

<blockquote>
<p>Owned and operated by sister Nellie and Meli, Bike A Rama Bicycles has been serving Jacksonville since 1991. We are proud to be the hippest bike shop in Jacksonville and we don’t take this achievement lightly. While others have come and gone, Bik A Rama has thrived because of our love for cycling and our belief in customer service, community outreach, and providing you the best products at the best prices. </p>
<p>Whether it was a Western Flyer 30 years ago, a Schwinn 30 years ago, or a Trek bicycle today, we are constantly expanding our services to suit your needs. We stock a full complement of accessories and bicycles and are the largest recumbent bicycle dealer in north Florida. Stop by today just to say hi or test ride your next bike. </P>
</blockquote>