
<div class="jumbotron">
 <div class="container">
   <p><a class="btn btn-success btn-lg" href="#" role="button">Click Here </a></p>
   <p><%= image_tag("special", class: "responsive" ) %></p>
     
 </div>
</div>

<p>Welcome! The date and time is <%= Time.now %></p>
<h1>Welcome to my world of bikes!</h1>
<h2>Your source for used bikes in Texas</h2>
<p>The world's best bikes and gear for road, mountain, city, and kids</p>



