.description {
   margin-right:150px;
}

.name {
   margin-right:100px;
}

.image {
    float:left;
    margin-right:350px;
}

.1img-zoom {
  transition: transform .2s; /* Animation */
  width: 500px;
  height: 500px;
  margin: 0 auto;
 
  
}


