// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//=============================
//Landing page styling
//============================



h1 {
  
}

h2,h3 {
  color:gray;
}


.carousel-caption {
  text-align:right;
  margin-bottom: 305px;
}

.btn btn-default {
  
}

.iv.c-wrapper { width:40%; 
  margin: auto; 
} 

carousel-inner > .item > img, .carousel-inner > .item > a > img { width: 80%; 
  
}


